* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596F5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin: 0 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
