@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596F5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin: 0 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 100px;
  display: flex;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  margin: 0;
}

.floor-counter {
  font-family: 'Bebas Neue', sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}

.button-primary {
  background-color: #3596F5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}

.is-open>.modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  background-color: #EBEBEB;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.flats path {
  opacity: 0;
  cursor: pointer;
}

.flats path:hover {
  opacity: 1;
}

.modal-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  width: 40%;
  padding: 40px 46px;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  margin-bottom: 10px;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  color: #3596F5;
  text-decoration: underline;
}

.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  top: 38px;
  right: 27px;
  border: none;
  background-color: #fff;
}
